<h1>All Properties</h1>

<%= form_tag properties_path, method: :get do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end %>

<%= link_to 'Advanced Search', new_search_path %>

<ul>
<% @properties.each do |property| %>
<li>
  <p><%=property.title%></p>
  <p>More about the property: <%=property.description %></p>
  <p>Type of property: <%=property.category %></p>
  <p>Price: <%=property.price %></p>
  <p>Location: <%=property.location %></p>
  <p>Is for: <%=property.listing_type %></p>
  <p>Number of bedrooms: <%=property.bedroom %></p>
  <p>Number of bathrooms: <%=property.bathroom %></p>
  <% property.images.each do |image| %>
    <%= image_tag(image) %>
  <% end %>
</li><br>
<% end %>
</ul>
