
<section class="advance-search-section">
  <h1> Advanced Search</h1>

  <div class="advanced-search-container">
    <%= form_with model: @search, class: "form-group", local: true do |s| %>

      <div class="input-field">
        <p><%= s.label :keywords %></p>
        <%= s.text_field :keywords %>
      </div>

      <div class="input-field">
      <p><%= s.label :category %></p>
      <%= s.select :category, options_for_select(@categories), include_blank: true %>
      </div>

      <div class="input-field">
      <p><%= s.label :location %></p>
      <%= s.select :location, options_for_select(@locations), include_blank: true %>
      </div>

      <div class="input-field">
      <p><%= s.label :listing_type %></p>
      <%= s.select :listing_type, options_for_select(@listing_types), include_blank: true %>
      </div>

      <div class="input-field">
      <p><%= s.label :bedroom, 'Bedrooms' %></p>
      <%= s.number_field :bedroom, in: 0..10, step: 1, size: 10 %>
      </div>

      <div class="input-field">
      <p><%= s.label :bathroom, 'Bathrooms' %></p>
      <%= s.number_field :bathroom, in: 0..10, step: 1, size: 10 %>
      </div>

      <div class="input-field">
      <p><%= s.label :min_price, "Min Price" %></p> <%= s.text_field :min_price, size: 10 %>
      <p><%= s.label :max_price, "Max Price" %></p> <%= s.text_field :max_price, size: 10 %>
      </div>

      <div class="input-field">
        <%= s.submit 'Search', class: 'search-button' %>
      </div>
    <% end %>
  </div>
</section>
