<h1>Search Result</h1>

<p> <%= link_to 'Back', new_search_path %> </p>

<% if @search.search_properties.blank? %>

  <p>No Properties Found </p>

<% else %>

  <% @search.search_properties.each do |p| %>
    <h1><%= p.title %></h1>
    <p>More about the property: <%=p.description %></p>
    <p>Type of property: <%=p.category %></p>
    <p>Price: <%=p.price %></p>
    <p>Location: <%=p.location.split.first %></p>
    <p>Is for: <%=p.listing_type %></p>
    <p>Number of bedrooms: <%=p.bedroom %></p>
    <p>Number of bathrooms: <%=p.bathroom %></p>
    <% p.images.each do |image| %>
      <%= image_tag(image) %>
    <% end %>
  <% end %>

<% end %>
